# Environment variables
.env
.env.local
.env.*.local

# OS specific files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp
nul
*/settings.local.json

.propel/template
.github/*
.vscode/mcp.json

bin/

obj/
 
build/

dist/

 
node_modules/

 
*.temp

 
 